* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
html {
  font-size: 10px;
}
body {
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.container_banners {
  width: 100vw;
  max-width: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: calc(100vw * 1.4);
  display: grid;
  scroll-snap-stop: always;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  grid-template-columns: 1fr 1fr 1fr ;
}

/* smooth sliding */
.container_banners > div{
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
}
.banner_front{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: calc(100vw * 1.4);
    background: red;
}
.banner_front img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.btn_container{
    width: 100%;
    padding: 4rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Btn_inst{
    width: 50vw;
    background-color: rgb(19, 94, 175);
    color: white;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    border: none;
    outline: none;
    margin: 1rem;
    padding: 1rem;
    border-radius: .8rem;
}
.btn_container p {
    font-size: 1.4rem;
}
.btn_container h2 {
    font-size: 2.8rem;
    margin: 0 0 2rem 0;
}
.instruction_d{
    position: absolute;
    top: 0;
    left: 0;
    border-radius:  0 0rem 30rem 0 ;
    width: 30rem;
    height: 30rem;
    background-color: rgba(67, 39, 4, 0.375);
}
.instruction_p{
    position: absolute;
    top: 0;
    left: 0;
    border-radius:  0 0rem 30rem 0 ;
    width: 30rem;
    height: 30rem;
    background-color: rgba(67, 39, 4, 0.375);
}
.head1{
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-size: 3.3rem;
    font-weight: 600;
    color:rgba(255, 255, 255, 0.882);
}
.head2{
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-size: 3.3rem;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.882);
}
.discription_1{
    position: absolute;
    top: 8.5rem;
    left: 4rem;
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: 300;
    color:rgba(255, 255, 255, 0.908);
}
.discription_2{
    position: absolute;
    top: 8.5rem;
    left: 4rem;
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.908);
}

@media screen and (max-width: 400px) {
  html {
    font-size: 8.5px;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 7.3px;
  }
}
