
/* some collections of color and shadow  */
/* 
 background : #F1F3F5; // navBG
 background : #181F2D; // themes 1
 background : #F1F3F6; // navBG2
 background : #323232; // font Color dark grey
 background : #E4E8EA; // hoverBG on search & menu
 background : #63707C; // cal_color
 background : #809097; // quantity color
 background : #AF1905; // delete red
 background : #202838; // on hover color blue

  // shadows
  box-shadow: 0 4px 4px 0 black25% ;
  box-shadow: 0 3px 3px 0 black2% ;
*/
a{
    color: black;
    text-decoration: none;
}
#manu_Section{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.349);
    z-index: 199;
    transition: .3s;
}
.function_menu{
    display: none;
}

#manuBox{
    position: fixed;
    top: .5rem;
    right: .5rem;
    width: 57%;
    background: rgba(255, 255, 255, 0.85); 
    border-radius: 1rem;
    z-index: 200;
    padding: 0 0 1.5rem 0  ;

}
.premanu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.3s;
    border-radius: 0.5rem;
}

.manuBtn{
    display: flex;
    width: 5rem;
    height: 5rem;
    background-color:  #F2F2F2;
    margin: .5rem .5rem;
    border-radius: .5rem;
}
.button{
    width: 2.8rem;
    margin: auto;
}


#searchbtn{
    background-color: #F1F3F5 ;
    border-radius: 4rem;
    background-image: url('../svg/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45%;
}

.manuBtn{
    background-color: #F1F3F5 ;
    border-radius: 4rem;
    background-image: url('../svg/menu_btn.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45%;
}

#searchbtn:active , #manubtn:active{
    background-color: #E4E8EA ;
}
#menubtnC{
    width: 100%;
    position: relative;
}
.opt_menu{
    position: relative;
    width: 100%;
    padding: 1.4rem;
    font-size: 1.4rem;
}
.opt_menu:hover{
    background-color: white;
}
#opt_menuID{
    background: transparent;
    position: relative;
    width: 100%;
    height: 5rem;
    padding: 0;
}
#opt_menuID #manubtn2{
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 0rem;
}